<h1>{{@tittle}}</h1>
<p>{{@body}}</p>
<img src="https://www.google.com/search?client=ubuntu&hs=lji&channel=fs&sxsrf=ACYBGNTNhpxCBTqJRlPUZSomACUBz5v9cQ:1581068341912&q=road+images&tbm=isch&chips=q:road+images,g_1:highway:8Qw8_Qi7TvY%3D&usg=AI4_-kSK1QSYUO_GgdE-OLHpqGHpPYJSTA&sa=X&ved=2ahUKEwjeporHkr_nAhWPiFwKHURGCkYQgIoDKAJ6BAgKEAg&biw=1366&bih=596#imgrc=vlFGiR9qbOOKUM" alt="">
{{yield}}