
<link rel="stylesheet" href="../styles/app.css">

<div class="about-image">
  <div class="about-text">

    <Info @tittle="About Me" @body="Whenever I am in a difficult situation where there seems to be no way out, I think about all the times I have been in such situations and say to myself, I did it before, so I can do it again."></Info>
    <img src="style/app.css/IMG_1541.JPG" alt="">
  </div>
</div>
{{outlet}}

{{!-- <html> 
    <head> 
        <title> 
              
        </title> 
    </head> 
      
    <body> 
          
    </body> 
</html>  --}}