
<link rel="stylesheet" href="../styles/app.css">
<section>
  <div id="about-page">
    <div class="about-image">
      <div class="about-text">
      
        <Info @tittle="About Me" @body="Whenever I am in a difficult situation where there seems to be no way out, I think about all the times I have been in such situations and say to myself, I did it before, so I can do it again."></Info>
      
      </div>
    </div>
  </div>
</section>
.
	  <div class="row">
			  <div class="col-lg-12">
	      <h4>ABILITY AND SKILLS</h4>
	      <p>I always like to look on the optimistic side of life, but am realistic enough to know that life is a complex matter.“We do not get to choose how we start out in life.</p>
    </div>
			
	    <div class="col-lg-9  ">
	      <h4>THE SKILLS</h4>
				JavaScript
	      <div class="progress">
				  <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				    <span class="sr-only">60% Complete</span>
	        </div>
		  </div>

				Python
			  <div class="progress">
				  <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						  <span class="sr-only">80% Complete</span>
					</div>
				</div>
				
				HTML + CSS
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						<span class="sr-only">95% Complete</span>
					</div>
				</div>

			</div>
		</div>



<div id="footer">
  <div class="container">
	  <div class="row">
		  <div class="col-lg-4">
				<h4>My Bunker</h4>
				  <p>
						Some Address 57160-00100,<br/>
						+2547140160, <br/>
						Kenya, Uganda.
					</p>
			</div>
				
			<div class="col-lg-4">
					<h4>SOCIAL</h4>
					<p>
						<a href="#">Dribbble</a><br/>
						<a href="#">Twitter</a><br/>
						<a href="#">Facebook</a>
					</p>
			</div>
				
				<div class="col-lg-4">
					<h4>Habiba Juma</h4>
					<p>Programming is medicine</p>
				</div>
			</div>
		</div>
</div>
{{outlet}}

