<link rel="stylesheet" href="../styles/app.css">

<div class="bg-image">
  <div class=" body-text">

    <Info @tittle = "Hello, Am Habiba Juma" @body = "I always like to look on the optimistic side of life, but am realistic enough to know that life is a complex matter.“We do not get to choose how we start out in life. We do not get to choose the day we are born or the family we are born into, what we are named at birth, what country we are born in, and we do not get to choose our ancestry. All these things are predetermined by a higher power. By the time you are old enough to start making decisions for yourself, a lot of things in your life are already in place. It’s important, therefore, that you focus on the future, the only thing that you can change.” "></Info>
    <Info @tittle = "Hello, Am Habiba Juma" @body = "I always like to look on the optimistic side of life, but am realistic enough to know that life is a complex matter.“We do not get to choose how we start out in life. We do not get to choose the day we are born or the family we are born into, what we are named at birth, what country we are born in, and we do not get to choose our ancestry. All these things are predetermined by a higher power. By the time you are old enough to start making decisions for yourself, a lot of things in your life are already in place. It’s important, therefore, that you focus on the future, the only thing that you can change.” "></Info>

  </div>

</div>

{{outlet}} 